html {
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  background-color: white;
}

.white_text {
  color: white;
}

.container_1000 {
  max-width: 1000px;
  margin: 0 auto;
}
.menu_inline {
  list-style: none;
}
.menu_inline li {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}
.menu_inline li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}

header {
  background-color: white;
}
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  line-height: 80px;
  background-color: white;
}
.header_logo {
  vertical-align: middle;
}
.header_menu li{
  margin-right: 25px;
  text-align: left;
}
.header_menu_lang li:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 20px;
}
.ico_hamburger {
  float: right;
  font-size: 3.7em;
  line-height: 80px;
  vertical-align: middle;
}

.lg_display_none {
  display: none;
}
.lg_display_block {
  display: block;
}

.jumbo {
  position: relative;
  height: 400px;
  margin-top: 80px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}
.jumbo_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
  color: white;
}
.jumbo_text h1 {
  font-size: 4em;
  margin-bottom: 0.8rem;
}
.jumbo_text p {
  font-size: 1.5em;
  margin-bottom: 0.8rem;
}
.opacity {
  z-index: 1;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* main */

/* sezione veicoli */

.veichle_section {
  margin: 90px 0;
}

.veichle_col {
  text-align: center;
  font-size: 2em;
  background-color: #FAFAFA;
}

.main_container_logo {
  width: 200px;
  margin: 40px 0 20px;
}

.container .veichle_col p {
  margin-bottom: 10px;
}

.learn_more {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  color: #2E70C8;
}
.learn_more:hover {
  text-decoration: underline;
}
.learn_more::after {
  content: url("../img/arrow.png");
  padding-left: 10px;
  text-decoration: none;
}

.learn_more_white {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: white;
}
.learn_more_white:hover {
  text-decoration: underline;
}
.learn_more_white::after {
  content: url("../img/arrow_white.png");
  padding-left: 10px;
  text-decoration: none;
}

.veichle_img {
  height: 400px;
}

/* sezione iphone */

.background_img_long {
  background-image: url("../img/HelbizBanner.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 2000px;
  font-size: 2em;
}
.col_padding_top_1 {
  padding: 620px 0 0 10px;
}

.col_padding_top_2 {
  padding-top: 220px;
}

.col_padding_top_3 {
  padding: 620px 0 0 70px;
}

.background_img_long .container .col-lg-4 h2 {
  font-size: 3.6rem;
}

.iphone_img {
  height: 630px;
}

.col_lg_padding_top_3 h4 {
  margin-bottom: 10px;
}

/* sezione 3 divs */

.background_img_green {
  background-image: url("../img/ScooterHelbiz-2400.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_img_green .white_text {
  padding: 100px;
  text-align: center;
  font-size: 2.2em;
}
.background_img_green .white_text h2 {
  font-size: 5rem;
}

/* visualizzazione media / MD */

@media screen and (max-width: 992px) and (min-width: 768px) {

  /* header */

  .header-top {
    padding: 0 2%;
  }
  .md_display_block {
    display: block;
  }
  .md_display_none {
    display: none;
  }
  .jumbo_text a {
    width: calc(100% / 4);
    display: inline-block;
  }
  .jumbo_text a img {
    width: 100%;
  }

  /* main */

  .veichle_col {
    font-size: 1.8em;
  }

  /* sezione iphone */

  .background_img_long {
    background-size: 1500px;
  }

  .col_padding_top_1 {
    display: none;
  }

  .col_padding_top_2 {
    padding-top: 100px;
    text-align: center;
  }

  .col_padding_top_3 {
    display: none;
  }

  .iphone_img {
    height: 550px;
  }

  /* sezione 3 divs */
}

/* visualizzazione piccola / XS */

@media screen and (max-width: 768px) {
  body {
    font-size: 8px;
  }
  .xs_display_block {
    display: block;
  }
  .xs_display_none {
    display: none;
  }
  .header-top {
    padding: 0 2%;
  }
  .jumbo_text h1 {
    font-size: 3.5em;
    margin-bottom: 0.8rem;
  }
  .jumbo_text p {
    font-size: 2em;
    margin-bottom: 0.8rem;
  }
  .jumbo_text a {
    width: calc(100% / 5);
    display: inline-block;
  }
  .jumbo_text a img {
    width: 100%;
  }

  /* main */

  .container .veichle_col:last-child {
    margin-top: 30px;
  }

  .col_offset_xs_0 {
    margin-left: 0px;
  }

  /* sezione iphone */

  .background_img_long {
    background-size: 1300px;
  }

  .iphone_img {
    height: 500px;
  }

  .col_padding_top_1 {
    display: none;
  }

  .col_padding_top_2 {
    padding-top: 100px;
    text-align: center;
  }

  .col_padding_top_3 {
    display: none;
  }
}
